

/* ********* STYLE BASE ********* */


body,
html {
  height: 100%;
}

body {
  overflow: hidden;
}


.fade-leave-active {
  transition: opacity .5s .25s;
}
.fade-leave-to {
  opacity: 0;
}


/* ********* STYLE APP ********* */


#app[v-cloak] {
  display: none;
  }


  #app header {
    z-index: 3;

    position: fixed;
    top: 0;
    left: 0;

    height: 64px;
    width: 100%;
  }


  #app main .messages .md-list {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    max-height: 100%;

    padding: 64px 0 52px;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

    #app main .messages .md-list .md-list-item {
      margin-bottom: 12px;
      padding-top: 12px;

      border-top: 1px solid #eee;
      }

      #app main .messages .md-list .md-list-item .md-list-text-container span:first-child {
        overflow: auto;
        overflow-wrap: break-word;
        text-overflow: initial;
        white-space: initial;
      }

  #app main .messages footer {
    z-index: 100;

    position: fixed;
    bottom: 0;
    left: 0;

    height: 52px;
    width: 100%;
    }

    #app main .messages footer input {
      width: 100%;

      margin: 0;
      padding: 16px 68px 16px 16px;

      font: inherit;
      font-size: 16px;

      outline: none;
      border: none;
    }

    #app main .messages footer button {
      position: absolute;
      right: 14px;
      bottom: 50%;

      height: 40px;
      width: 40px;

      margin: 0 0 -20px 0;

      color: inherit;
    }


  #app .splash-screen {
    z-index: 3000;

    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-image: url(./images/icons/apple-icon-192x192.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 96px;
    background-position: 50%;
  }
